<ion-popover-view>
    <!--<ion-header-bar class="about bar-dark">-->
        <!--<h6 class="title">Conference Tracker</h6>-->
    <!--</ion-header-bar>-->
    <div class="about">
        <h6>Conference Tracker</h6>
    </div>
    <ion-content>
        <div class="padLbl">
            <h6>Version 1.0</h6>
            <h6>Author <span><br>
                Holly Schinsky<br>
                <a href="http://devgirl.org">devgirl.org</a><br>
                <a href="http://twitter.com/@devgirlfl">@devgirlfl</a><br>
            </span>
            </h6>
            <h6>Tutorial <span><br>
            <a href="http://hollyschinsky.github.io/phonegap-workshop/">Holly's PhoneGap Workshop</a></span></h6>
        </div>
    </ion-content>
</ion-popover-view>
