<div class="modal">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item btnLogin">
          <button class="button button-full icon-left button-balanced ion-log-in btn" ng-click="doLogin()" type="submit">Sign in</button>
        </label>
        <label class="item btnLogin">
          <button class="button button-full icon-left ion-social-facebook button-positive btn" ng-click="fbLogin()">
              Sign in with Facebook
          </button>
        </label>
        <label class="item btnLogin">
          <button class="button button-full icon-left ion-social-twitter button-calm btn" ng-click="twLogin()">
              Sign in with Twitter
          </button>
        </label>
        <label class="item btnLogin">
          <button class="button button-full icon-left ion-social-linkedin button-royal btn" ng-click="liLogin()">
              Sign in with LinkedIn
          </button>
        </label>
        <label ng-model="loginMsg" class="padLbl" ng-class="{'assertive': !login.result,'balanced':login.result}">
            {{loginMsg}}
        </label>

      </div>
    </form>
  </ion-content>
</div>
