<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive nav-title-slide-ios7 ">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"/>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="login()">
            <i class="icon ion-log-in"></i>
          Login
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/sessions">
            <i class="icon ion-document-text"></i>
          Sessions
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/favorites">
            <i class="icon ion-heart"></i>
          Favorites
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/profile">
            <i class="icon ion-person"></i>
          Profile
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="logout()">
            <i class="icon ion-log-out"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
