<ion-view title="Session Detail">
    <ion-content class="has-header">
        <div class="list">
            <div class="item">
                <h3>{{time}}</h3>
                <h2>{{session.title}}</h2>
                <p>{{session.speaker|uppercase}}</p>
            </div>
            <div class="item item-body">
                <p>{{session.description}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="addFavorite(session)">
                    <i class="icon ion-heart"></i>
                    Favorite
                </a>
                <a class="tab-item">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" ng-click="share()">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
