<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.conferencetracker278114" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ConferenceTracker</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="holly@gmail.com" href="http://devgirl.org/">
      Holly Schinsky
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <icon src="www/img/phonegap_wings.png"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>