{% include bootstrap-header.html %}

<div class="container">

<div class="row">

    <div class="col-xs-12 col-sm-8">
        <h1>{{ page.title }}</h1>
        <!--<hr/>-->
        {{ content }}
    </div>

    <div class="col-xs-12 col-sm-4 right-nav">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="font-variant:small-caps;font-size: 18px;">modules</div>
            <ol class="list-group">
                <li><a href="install-ionic.html">Installing Ionic</a></li>
                <li><a href="start-node-server.html">Starting the Node Server</a></li>
                <li><a href="create-ionic-application.html">Creating an Ionic Application</a></li>
                <li><a href="create-angular-service.html">Creating the Session Service</a></li>
                <li><a href="create-angular-controller.html">Creating the Session Controllers</a></li>
                <li><a href="create-ionic-template.html">Creating Templates</a></li>
                <li><a href="build-ionic-project.html">Building the Project</a></li>
                <li><a href="debugging.html">Debugging</a></li>
                <li><a href="create-login-modal.html">Adding *Login* Modal</a></li>
                <li><a href="oauth-setup.html">Setting up OAuth.io</a></li>
                <li><a href="twitter-service.html">Integration with Twitter (login/follow/profile)</a></li>
                <li><a href="linkedin-service.html">Integration with LinkedIn</a></li>
                <li><a href="managing-favorites.html">Managing Favorites</a></li>
                <li><a href="toast.html">Adding Toast Notifications</a></li>
                <li><a href="create-profile.html">Creating Profile</a></li>
                <li><a href="create-about-popover.html">Adding *About* Popover</a></li>
                <li><a href="angular-ui-router.html">Understanding Routing</a></li>
                <li><a href="side-menu.html">Customizing the Side Menu</a></li>
                <li><a href="share.html">Implement Social Sharing Feature</a></li>
                <li><a href="add-to-calendar.html">Implement Add to Native Calendar Feature</a></li>
                <li><a href="swipe-share.html">Add Swipe to Share to Favorites List</a></li>
                <li><a href="bulk-delete.html">Add Bulk List Item Delete</a></li>
                <li><a href="ionic-facebook-integration.html">Facebook Integration</a></li>
                <li><a href="offline.html">Handling Offline</a></li>
                <li><a href="polish.html">Customize StatusBar, Icons/Splash Screen, Fonts</a></li>

            </ol>
            <p></p>
        </div>

<a href="https://twitter.com/share" class="twitter-share-button" data-size="large"
   data-url="http://hollycschinsky.github.io/ConferenceTracker"
   data-text="Apache Cordova Tutorial #Cordova #PhoneGap">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<a href="https://twitter.com/devgirlfl" class="twitter-follow-button" data-show-count="true"
   data-size="large" data-lang="en">Follow
    @devgirlfl</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>

</div>

</div>

{% include bootstrap-footer.html %}