.modal2 {
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    overflow: visible;
    min-height: 30px;
    width: 150px;
    height: 30px;
    text-align: center;
    color: #cccccc;
    font-weight: bold;
}

