.modal2 {
    min-height: 30px;
    height: 30px;
    text-align: left;

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #fefff3;

    border-color: #c0c0c0;
    border-radius: 3px;
    border: 1px ridge;
    background-repeat: no-repeat;
    background-position: 10px center;
    opacity: .7;
    display: block;
    position: absolute;
    top: 350;
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    overflow: visible;
    width: 65%; }
    .modal.ng-leave-active {
        bottom: 0; }
    .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
        height: 44px; }
    .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
        margin-top: 0; }
    .platform-ios.platform-cordova .modal-wrapper .modal .tabs-top > .tabs, .platform-ios.platform-cordova .modal-wrapper .modal .tabs.tabs-top {
        top: 44px; }
    .platform-ios.platform-cordova .modal-wrapper .modal .has-header, .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
        top: 44px; }
    .platform-ios.platform-cordova .modal-wrapper .modal .has-subheader {
        top: 88px; }
    .platform-ios.platform-cordova .modal-wrapper .modal .has-tabs-top {
        top: 93px; }
    .platform-ios.platform-cordova .modal-wrapper .modal .has-header.has-subheader.has-tabs-top {
        top: 137px; }

.padLbl {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding: 5px;
    font-family: Verdana;

}
.login {
    margin-top: 10px;
}
